{{!-- Form for adding a new person receiver --}}
<hr/>
<h2>Add a new person</h2>

<form id="new-person-form">
    <label>Name</label>
    <input type="text" id="name"/>
    <label>Birthday</label>
    <input type="text" id="birth-date"/>
    <button type="submit">Save</button>
</form>
<hr/>

<script src="/js/new-person.js"></script>