    <h1>Gift List</h1>

    <h2>Add an gift to the list</h2>
    <form id="gift-form">
      <input type="text" class="form-input" id="gift-input" name="gift-input" placeholder="Enter gift name"/>
      <button class="btn btn-info">Add Item</button>
    </form>
    <hr />

    <ul id="gift-list"></ul>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="../public/js/gift-list.js">
  </script>
